body{
    background-color: beige;
}
img{
    width:500px;
    height: 400px;
}
li{
    padding-bottom: 5px;
}
.ingredienser{
    background-color: yellow;
    font-size: 30px;
    padding-left: 10%;
    border: 5px solid red;
    margin-bottom: 20px; /* Adds space below each section */
    border: 5px solid red; /* Adds a border around each section */
}
.instructions{
    padding: 10px;
    font-size: 30px;
    padding-left: 10%;
    border: 5px solid red;
    background-color: yellow;
}
footer{
    padding: 50px;
    text-align: center;
    text-decoration: none;
}